<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
  border: 1px solid black;
}
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ employee.emp_name }}</td>
        <td>{{ employee.emp_email }}</td>
        <td>{{ employee.emp_number }}</td>
      </tr>
    </tbody>

  </table>
</body>
</html>